
{% load static %}
<!-- 
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<ul>
    {% for img in content %}
        <img src="/media/{{ img.file }}" alt="image"/>
    {% endfor %}
</ul> -->

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style type="text/css">
    img {
        overflow: hidden;
        width: 3840px;
        height: auto;
    }
    video {
        overflow: hidden;
        width: 3840px;
        height: auto;
    }
</style>


<div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for img in content %}
            <div class="carousel-item active">
                {% if img.video %}
                    <video preload autoplay muted loop>
                        <source id="video" src="/media/{{ img.file }}" type="video/mp4"/>
                    </video>
                {% elif not img.video %}
                    <img src="/media/{{ img.file }}" class="d-block w-100" alt="something is broken lol imagine that">
                {% endif %}
            </div>
        {% endfor %}
    </div>
  </div>
  
<script>
    const myCarouselElement = document.querySelector('#myCarousel')
    const carousel = new bootstrap.Carousel(myCarouselElement, {
    interval: 7500,
    pause: false,
    })
</script>